In [101]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [102]:
df=pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/Exercise/titanic.csv')

In [103]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [104]:
inputs=df.drop('Survived',axis='columns')
inputs.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [105]:
target=df['Survived']

In [106]:
inputs_n=inputs.drop(['Name','SibSp','Parch','Ticket','Cabin','Embarked','PassengerId'],axis='columns')

In [107]:
inputs_n

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [108]:
from sklearn.preprocessing import LabelEncoder

In [109]:
sex_le=LabelEncoder()

In [110]:
inputs_n['sex_n']=sex_le.fit_transform(inputs['Sex'])
inputs_n=inputs_n.drop('Sex',axis='columns')

In [115]:
inputs_n

     Pclass        Age     Fare  sex_n
0         3  22.000000   7.2500      1
1         1  38.000000  71.2833      0
2         3  26.000000   7.9250      0
3         1  35.000000  53.1000      0
4         3  35.000000   8.0500      1
..      ...        ...      ...    ...
886       2  27.000000  13.0000      1
887       1  19.000000  30.0000      0
888       3  29.699118  23.4500      0
889       1  26.000000  30.0000      1
890       3  32.000000   7.7500      1

[891 rows x 4 columns]

In [112]:
inputs_n['Age'].fillna(inputs_n['Age'].mean(),inplace=True)

In [113]:
model=tree.DecisionTreeClassifier()

In [114]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [116]:
model.score(inputs_n,target)

0.9797979797979798