In [425]:
import numpy as np
import pandas as pd

In [426]:
df=pd.read_csv('/kaggle/input/weight-height/weight-height.csv')

In [427]:
df.shape

(10000, 3)

**Using Percentile**

In [428]:
qmax_thresholdw,qmin_thresholdw=df.Weight.quantile([0.95,0.05])

In [429]:
qmax_thresholdh,qmin_thresholdh=df.Height.quantile([0.95,0.05])

In [430]:
qmax_thresholdh

72.61710606642384

In [431]:
df[(df.Weight>qmax_thresholdw) | (df.Weight<qmin_thresholdw)]

      Gender     Height      Weight
0       Male  73.847017  241.893563
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
11      Male  71.640805  213.741169
23      Male  75.205974  228.761781
...      ...        ...         ...
9980  Female  60.472262  110.768229
9989  Female  60.955084   95.686674
9991  Female  62.636675  102.853563
9993  Female  60.030434   97.687432
9994  Female  59.098250  110.529686

[1000 rows x 3 columns]

In [432]:
df[(df.Height>qmax_thresholdh) | (df.Height<qmin_thresholdh)]

      Gender     Height      Weight
0       Male  73.847017  241.893563
2       Male  74.110105  212.740856
23      Male  75.205974  228.761781
27      Male  72.800844  206.828189
31      Male  74.033808  212.910225
...      ...        ...         ...
9978  Female  57.375759  114.192209
9984  Female  59.047029  111.707369
9988  Female  59.538729  121.244876
9993  Female  60.030434   97.687432
9994  Female  59.098250  110.529686

[1000 rows x 3 columns]

In [433]:
quant_weight_without_outliers=df[(df.Weight<qmax_thresholdw) & (df.Weight>qmin_thresholdw)]

In [434]:
quant_weight_without_outliers

      Gender     Height      Weight
1       Male  68.781904  162.310473
4       Male  69.881796  206.349801
5       Male  67.253016  152.212156
6       Male  68.785081  183.927889
7       Male  68.348516  167.971110
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9000 rows x 3 columns]

In [435]:
quant_height_without_outliers=df[(df.Height<qmax_thresholdh) & (df.Height>qmin_thresholdh)]

In [436]:
quant_height_without_outliers

      Gender     Height      Weight
1       Male  68.781904  162.310473
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
5       Male  67.253016  152.212156
6       Male  68.785081  183.927889
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9000 rows x 3 columns]

**Using Standard Deviation**

In [437]:
df.Height.mean(),df.Height.std()

(66.36755975482124, 3.8475281207732293)

In [438]:
df.Weight.mean(),df.Weight.std()

(161.44035683283076, 32.108439006519596)

In [439]:
upper_limith=df.Height.mean()+3*df.Height.std()

In [440]:
lower_limith=df.Height.mean()-3*df.Height.std()

In [441]:
df[(df.Height<upper_limith) & (df.Height>lower_limith)]

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9993 rows x 3 columns]

In [442]:
upper_limitw=df.Weight.mean()+3*df.Weight.std()

In [443]:
lower_limitw=df.Weight.mean()-3*df.Weight.std()

In [444]:
df[(df.Weight<upper_limitw) & (df.Weight>lower_limitw)]

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9998 rows x 3 columns]

**Using Z-score**

In [445]:
df['zscoreh']=(df.Height-df.Height.mean())/df.Height.std()

In [446]:
df['zscorew']=(df.Weight-df.Weight.mean())/df.Weight.std()

In [447]:
df[(df.zscoreh>-3) & (df.zscoreh<3)]

      Gender     Height      Weight   zscoreh   zscorew
0       Male  73.847017  241.893563  1.943964  2.505672
1       Male  68.781904  162.310473  0.627505  0.027099
2       Male  74.110105  212.740856  2.012343  1.597726
3       Male  71.730978  220.042470  1.393991  1.825131
4       Male  69.881796  206.349801  0.913375  1.398680
...      ...        ...         ...       ...       ...
9995  Female  66.172652  136.777454 -0.050658 -0.768113
9996  Female  67.067155  170.867906  0.181830  0.293616
9997  Female  63.867992  128.475319 -0.649655 -1.026678
9998  Female  69.034243  163.852461  0.693090  0.075124
9999  Female  61.944246  113.649103 -1.149651 -1.488433

[9993 rows x 5 columns]

In [448]:
df[(df.zscorew>-3) & (df.zscorew<3)]

      Gender     Height      Weight   zscoreh   zscorew
0       Male  73.847017  241.893563  1.943964  2.505672
1       Male  68.781904  162.310473  0.627505  0.027099
2       Male  74.110105  212.740856  2.012343  1.597726
3       Male  71.730978  220.042470  1.393991  1.825131
4       Male  69.881796  206.349801  0.913375  1.398680
...      ...        ...         ...       ...       ...
9995  Female  66.172652  136.777454 -0.050658 -0.768113
9996  Female  67.067155  170.867906  0.181830  0.293616
9997  Female  63.867992  128.475319 -0.649655 -1.026678
9998  Female  69.034243  163.852461  0.693090  0.075124
9999  Female  61.944246  113.649103 -1.149651 -1.488433

[9998 rows x 5 columns]

In [449]:
df[df.Weight>df.zscorew]

      Gender     Height      Weight   zscoreh   zscorew
0       Male  73.847017  241.893563  1.943964  2.505672
1       Male  68.781904  162.310473  0.627505  0.027099
2       Male  74.110105  212.740856  2.012343  1.597726
3       Male  71.730978  220.042470  1.393991  1.825131
4       Male  69.881796  206.349801  0.913375  1.398680
...      ...        ...         ...       ...       ...
9995  Female  66.172652  136.777454 -0.050658 -0.768113
9996  Female  67.067155  170.867906  0.181830  0.293616
9997  Female  63.867992  128.475319 -0.649655 -1.026678
9998  Female  69.034243  163.852461  0.693090  0.075124
9999  Female  61.944246  113.649103 -1.149651 -1.488433

[10000 rows x 5 columns]

**Using IQR**

In [450]:
Q1h=df.Height.quantile(0.25)
Q3h=df.Height.quantile(0.75)

In [ ]:
IQRh=Q3h-Q1h

In [451]:
Q3h-Q1h

5.668641245615746

In [452]:
Q1w=df.Weight.quantile(0.25)
Q3w=df.Weight.quantile(0.75)

In [453]:
IQRw=Q3w-Q1w

51.35147356318197

In [ ]:
iqrlower_limith=Q1-1.5IQRh
iqrupper_limith=Q3+1.5IQRh

In [ ]:
iqrlower_limitw=Q1-1.5IQRw
iqrupper_limitw=Q3+1.5IQRw

In [ ]:
df[df.]