In [21]:
import numpy as np 
import pandas as pd

In [22]:
df=pd.read_csv("/kaggle/input/weight-height/weight-height.csv")
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [23]:
Q1=df.Height.quantile(0.25)
Q3=df.Height.quantile(0.75)

In [24]:
IQR=(Q3-Q1)

In [25]:
lower_limit=Q1-1.5*IQR
upper_limit=Q3+1.5*IQR

In [26]:
df[(df.Height<lower_limit) | (df.Height>upper_limit)]

      Gender     Height      Weight
994     Male  78.095867  255.690835
1317    Male  78.462053  227.342565
2014    Male  78.998742  269.989699
3285    Male  78.528210  253.889004
3757    Male  78.621374  245.733783
6624  Female  54.616858   71.393749
7294  Female  54.873728   78.606670
9285  Female  54.263133   64.700127

In [27]:
df_without_outliers=df[(df.Height>lower_limit) & (df.Height<upper_limit)]
df_without_outliers

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9992 rows x 3 columns]